.main {
  margin: 10vh auto;
  height: 80vh;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-linear-gradient(bottom left, #FA7575 20%, #FA9898 40%);
  background-image: linear-gradient(to top right, #FA7575 20%, #FA9898 40%); }

.calculator {
  height: 500px;
  width: 300px;
  background: #CFCACA;
  border-radius: 15px;
  box-shadow: -3px 3px 0 #BBB, -6px 6px 0 #BBB, -9px 9px 0 #BBB, -12px 12px 0 #BBB, -14px 10px 20px #666; }
  .calculator .screen {
    background: #CFCACA; }
