.main {
  margin: 10vh auto;
  height: 80vh;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-linear-gradient(bottom left, #FA7575 20%, #FA9898 40%);
  background-image: linear-gradient(to top right, #FA7575 20%, #FA9898 40%); }

.perspective {
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.calculator {
  height: 580px;
  width: 300px;
  padding-top: 50px;
  background: #CFCACA;
  border-radius: 15px;
  box-shadow: 5px 2px 0 #bbb, 9px 6px 0 #bbb, 12px 7px 0 #bbb, 15px 10px 0 #bbb, 0 7px 20px #999;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in; }
  .calculator .screen {
    background: #FA7575;
    width: 100%;
    height: 200px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .calculator .screen input {
      width: 90%;
      height: 40%;
      background-color: transparent;
      border: 1px #eee solid;
      font-size: 2em;
      padding: 0 10px;
      text-align: center; }
      .calculator .screen input:focus {
        outline: transparent; }
  .calculator .keyboard {
    background: #fff;
    width: 100%;
    height: 300px;
    position: relative; }
    .calculator .keyboard button {
      margin: 10px;
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0; }
    .calculator .keyboard :before {
      content: "";
      position: absolute;
      height: 99.6%;
      width: 15px;
      background-color: #fff;
      right: -15px;
      top: 5px;
      z-index: 1;
      -webkit-transform: skewY(30deg);
          -ms-transform: skewY(30deg);
              transform: skewY(30deg); }
  .calculator:hover {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0); }
